/*

# files
!.gitignore
!.python-version
!.travis.yml
!AUTHORS
!CHANGES
!LICENSE
!MANIFEST.in
!README.md
!setup.py
!tox.ini

# folders
!doc
!etc
!examples
!hdfs
!requirements
!scripts
!tests

# re-ignore
__pycache__
*.pyc
